# Dependencies
node_modules/
venv/
env/
__pycache__/

# IDE
.vscode/
.idea/
.claude/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Build
dist/
build/
*.o
*.exe

# Environment
.env
.env.local

# Database
*.db
*.sqlite

# Temporary
temp/
tmp/
*.tmp


# Google and firebase
# 
  mobile/google-services.json
  server/quickbihar-4d3ab-firebase-adminsdk-fbsvc-7612bc0080.json